@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?bd755e");
  src: url("fonts/icomoon.eot?bd755e#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?bd755e") format("truetype"),
    url("fonts/icomoon.woff?bd755e") format("woff"),
    url("fonts/icomoon.svg?bd755e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-discord:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-minecraft:before {
  content: "\e904";
}
.icon-blog:before {
  content: "\e905";
}
.icon-external-link:before {
  content: "\e906";
}
.icon-external-link {
  margin-left: 0.5em;
  margin-right: 0;
}

:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "BIZ UDPGothic", Meiryo,
    sans-serif;
  --background: #000032;
  --text: #f0f0f0;
  --accent: #3287e6;
}

body {
  font-family: var(--font);
  color: var(--text);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--background);
}
span {
  margin-right: 0.5em;
}

footer {
  text-align: center;
  font-size: 0.75rem;
}

footer a {
  color: var(--text);
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

footer a:hover {
  color: var(--accent);
  text-decoration: none;
}

#userIcon {
  margin: 35px auto 20px;
  position: relative;
}

.userPhoto {
  width: auto;
  height: 90px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.userPhotoBox {
  width: 100px;
  height: 100px;
  margin: 35px auto 20px;
  border-radius: 50%;
  background-color: #42378f;
  background: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  position: relative;
  z-index: -1;
  animation: 1.4s linear infinite rotation;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#userDesc {
  width: 100%;
  text-align: center;
  line-height: 1.25;
  display: block;
}

.userName {
  font-size: 1em;
  font-weight: 700;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
  line-height: 1.4;
}

.box {
  background-color: var(--accent);
  border-radius: 25px;
  border: solid var(--accent) 2px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.box:hover {
  background-color: var(--background);
  color: var(--accent);
}

.linkBox {
  display: block;
  margin-bottom: 20px;
  padding: 17px;
}

.linkBox:hover {
  padding-bottom: 34px;
}

.visitLinkBox {
  width: 5em;
  margin-top: 5px;
  display: inline-block;
  padding: 5px;
}

.linkBoxNoExpand:hover {
  padding-bottom: 17px;
}

#links a {
  color: var(--text);
  text-decoration: none;
}

#links a:hover {
  color: var(--accent);
}

#links,
#links ul,
#links li {
  list-style-type: none;
  padding-inline-start: 0;
}

#links ul li ul {
  display: none;
  margin-bottom: -19px;
}

#links ul li:hover ul {
  animation: fadeIn 0.25s ease-out 1 normal;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#statusBoxs {
  width: 1070px;
  height: 48px;
	max-width: 100%;
	max-height: auto;
}
.statusBox {
  background-color: var(--accent);
  border-radius: 25px 25px 0 0;
  border: solid var(--accent) 2px;
  max-width: 400px;
  width: auto;
  margin: 27px auto 0 auto;
}

.dateTime {
  border-radius: 0 0 25px 25px !important;
  margin: 0 auto 27px auto !important;
}
